<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RFS</title>
    <script src="/bower_components/modernizr/modernizr.js"></script>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" type="text/css" href="{{ asset('/stylesheets/styles.css')}}"/>
        {% block page_styles %}{% endblock %}
    {% endblock %}
    {% block metadata %}{% endblock %}
</head>
<body>

{% block message_palette %}{% endblock %}

{% block header %}
    {% include 'RFSAppBundle::header.html.twig' %}
{% endblock %}
<div id="content">
    {% block content %}{% endblock %}
</div>

{% block footer %}
    {#{% include 'default/footer.html.twig' %}#}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/bower_components/jquery/dist/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/app.js') }}"></script>
{% block page_scripts %}
{% endblock %}
{% endblock %}

</body>
</html>
