<nav id="header" class="navbar navbar-default navbar-fixed-top transparent-bg">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/">&nbsp;<i class="fa fa-home"></i>&nbsp;Rooms For Students</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              {% if is_granted('ROLE_USER') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> {{ app.user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% if is_granted('ROLE_LANDLORD') %}
                        <li><a href="{{ path('my_accommodations', { 'name': app.user.username }) }}">&nbsp;<i class="fa fa-building"></i>&nbsp;My Listings</a></li>
                        <li><a href="{{ path('accommodation_new') }}">&nbsp;<i class="fa fa-home"></i>&nbsp;List Accommodation</a></li>
                        <li><a href="#">&nbsp;<i class="fa fa-group"></i>&nbsp;House Group</a></li>
                        <li class="divider"></li>
                        {% endif %}
                        <li><a href="/account">&nbsp;<i class="fa fa-cog"></i>&nbsp;My Account</a></li>
                        <li><a href="/profile">&nbsp;<i class="fa fa-user"></i>&nbsp;My Profile</a></li>
                        <li><a href="#">&nbsp;<i class="fa fa-envelope"></i>&nbsp;Notifications</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">&nbsp;<i class="fa fa-close"></i>&nbsp;logout</a></li>
                    </ul>
                </li>
              {% else %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
              {% endif %}
            </ul>
        </div>
    </div>
</nav>
