{% extends 'RFSAppBundle::base.html.twig' %}
{% block content %}
  <section>
    <form action="/account/edit" method="post">
      <label for="fname">First Name:</label><input type="text" name="fname" id="fname" value="{{ app.user.firstname }}"/><br/>
      <label for="lname">Last Name:</label><input type="text" name="lname" id="lname" value="{{ app.user.lastname }}"/><br/>
      <input type="submit" value="save values"/>
    </form>
  </section>
{% endblock %}
