{% extends 'base.html.twig' %}

{% block title %}An Error Occurred: {{ status_text }}{% endblock %}


{% block content %}
    <div class="block-content block-content-small-padding">
        <div class="block-content-inner">
            <h1>Oops! An Error Occurred</h1>

            <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

            <div>
                Something is broken. Please let us know what you were doing when this error occurred.
                We will fix it as soon as possible. Sorry for any inconvenience caused.
            </div>
            <hr>
            <div>
                {{ exception.message }}
            </div>
        </div>
    </div>
{% endblock %}
