{% extends 'RFSAppBundle::base.html.twig' %}
{% block page_styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('stylesheets/jasny.min.css') }}"
          media="screen, projection">
    <style type="text/css">
        #photosModal img {
            height: 200px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="block-content block-content-small-padding">
        <div class="block-content-inner">
            <h1 class="center">Edit accommodation</h1>
            <span class="record_actions">
                    <a class="btn" href="{{ path('accommodation') }}"><i class="fa fa-list-ul"></i>&nbsp;Back to
                        list</a>
                {{ form(delete_form) }}
            </span>

            <div class="box col-sm-8 col-sm-offset-2">

                {% if edit_form is defined %}
                    {% set form = edit_form %}
                    {{ form_start(form, {'attr': {'id': 'accommodation-form'}}) }}
                    <div class="text-danger text-center"><h5 class="center">{{ form_errors(form) }}</h5>
                    </div>
                    <div class="form-group">{{ form_row(form.fullAddress, {'attr':{'class':'form-control', 'placeholder':'Enter address'}}) }}</div>
                    <div class="form-group">
                        <div class="form-control" id="map" style="height: 250px"></div>
                    </div>
                    <div class="form-group">{{ form_row(form.description, {'attr':{'class':'form-control'}}) }}</div>
                    <div class="form-group col-md-6">{{ form_row(form.accommodationType, {'attr':{'class':'form-control'}}) }}</div>
                    <div class="form-group col-md-6">{{ form_row(form.pricePlan, {'attr':{'class':'form-control'}}) }}</div>
                    <div class="form-group col-md-6">{{ form_row(form.price, {'attr':{'class':'form-control'}}) }}</div>
                    <div class="form-group col-md-6">{{ form_row(form.contractLength, {'attr':{'class':'form-control'}}) }}</div>
                    <div class="form-group col-md-6">{{ form_row(form.bedrooms, {'attr':{'class':'form-control'}}) }}</div>
                    <div class="form-group col-md-6">{{ form_row(form.isEnSuite, {'attr':{'class':'form-control'}}) }}</div>
                    <div class="form-group col-md-6">{{ form_row(form.publishStartDate, {'attr':{'class':'form-control', 'value':'now'|date('Y-m-d'), 'min':'now'|date('Y-m-d')}}) }}</div>
                    <div class="form-group col-md-6">{{ form_row(form.publishEndDate, {'attr':{'class':'form-control', 'value':'now'|date('Y-m-d'), 'min':'now'|date('Y-m-d')}}) }}</div>
                    <div class="form-group col-md-6">{{ form_row(form.mainPhoto, {'attr':{'class':'form-control', 'placeholder':'Select main photo'}}) }}</div>
                    <div class="form-group col-md-6">
                        <div><label>More info</label></div>

                        <a class="btn btn-sm" data-toggle="modal" data-target="#featuresModal">
                            <i class="fa fa-arrows-alt"></i> Features
                        </a>

                        <a class="btn btn-sm" data-toggle="modal" data-target="#photosModal">
                            <i class="fa fa-arrows-alt"></i> Photos
                        </a>

                        <div class="modal fade" id="featuresModal" tabindex="-1" role="dialog"
                             aria-labelledby="featuresModalLabel"
                             aria-hidden="true" style="margin-top: 90px">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="featuresModalLabel">Features
                                            <a class="close btn pull-right"
                                               data-dismiss="modal"
                                               aria-label="Close">
                                                <i class="fa fa-times" aria-hidden="true"></i></a></h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="features"
                                            data-prototype="{{ form_widget(form.features.vars.prototype)|e }}">
                                            {# iterate over each existing feature and render its name #}
                                            {% for feature in form.features %}
                                                <li>{{ form_row(feature.featureType) }}</li>
                                                <hr>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <span class="error">{{ form_errors(form.features) }}</span>
                                        <button id="add-feature-link" class="btn btn-sm"><i class="fa fa-plus"></i> Add
                                        </button>
                                        <button type="button" class="btn btn-sm" data-dismiss="modal">Done
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="photosModal" tabindex="-1" role="dialog"
                             aria-labelledby="photosModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="photosModalLabel">More photos
                                            <a class="close btn pull-right"
                                               data-dismiss="modal"
                                               aria-label="Close">
                                                <i class="fa fa-times" aria-hidden="true"></i></a></h4>
                                    </div>
                                    <div class="modal-body">
                                        <form id="photos-form" method="POST"
                                              action="{{ path('edit_photos', { 'id': entity.id }) }}"
                                              enctype="multipart/form-data">
                                            <ul class="edit-photos" style="list-style-type: none;">
                                                <li><label>Photos</label></li>
                                                {% for photo in entity.photos %}
                                                    <li>
                                                        <div class="fileinput fileinput-new col-sm-12"
                                                             data-provides="fileinput">
                                                            <div class="fileinput-new thumbnail">
                                                                <img src="{{ asset(photo.webPath) }}"
                                                                     alt="...">
                                                            </div>
                                                            <div class="fileinput-preview fileinput-exists thumbnail"
                                                                 style="max-height: 150px;"></div>
                                                            <div>
                                            <span class="btn btn-default btn-xs btn-file">
                                                <span class="fileinput-new">Select</span>
                                                <span class="fileinput-exists">Change</span>
												<input class="fileinput-filename" value=""
                                                       type="file" id="photos_{{ photo.id }}"
                                                       name="photos[{{ photo.id }}]"
                                                       accept="image/*">
											</span>
                                                                <a href="#"
                                                                   class="btn btn-danger fileinput-exists btn-xs"
                                                                   data-dismiss="fileinput">Reset</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>

                                            <div class="form-group">
                                                <input form="photos-form" type="submit"
                                                       class="btn btn-primary btn-inversed btn-block" value="Update">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <span class="error"></span>
                                        <button type="button" class="btn btn-sm" data-dismiss="modal">Done</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-6">{{ form_row(form.isVisible, {'attr' :{'class' : 'form-control'}}) }}</div>
                    <div class="form-group col-md-6">{{ form_row(form.publishStartDate, {'attr' :{'class' : 'form-control'}}) }}</div>
                    <div class="form-group col-md-6">{{ form_row(form.publishEndDate, {'attr' :{'class' : 'form-control'}}) }}</div>
                    <div class="form-group col-md-12">{{ form_row(form.submit, {'attr' :{'class' : 'btn btn-primary btn-block'}}) }}</div>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block page_scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    {% javascripts
    'js/jasny.min.js'
    '@RFSAppBundle/Resources/public/js/accommodation.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script type="text/javascript">
        // Update property photos
        $(function () {
            var prototype = '<div class="fileinput fileinput-new col-sm-12" data-provides="fileinput">' +
                    '<div class="fileinput-new thumbnail">' +
                    '<img height="180px" src="http://placehold.it/300x200&text=UAEDXB" alt="..."> ' +
                    '</div>' +
                    '<div class="fileinput-preview fileinput-exists thumbnail" style="max-height: 180px;"></div>' +
                    '<div>' +
                    '<span class="btn btn-default btn-xs btn-file"> ' +
                    '<span class="fileinput-new">Select</span> ' +
                    '<span class="fileinput-exists">Change</span> ' +
                    '<input class="fileinput-filename" value="" ' +
                    'type="file" id="photos___name__" name="photos[__name__]" accept="image/*">' +
                    '</span>' +
                    '<a href="#" class="btn btn-danger fileinput-exists btn-xs" ' +
                    'data-dismiss="fileinput">Reset</a>' +
                    '</div>' +
                    '</div>';

            var index = 0;

            $(document).ready(function () {
                // Get the ul that holds the collection of photos
                $collectionHolder = $('ul.edit-photos');

                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                index = $collectionHolder.find(':input').length;

                for (index++; index <= 4; index++) {

                    // add a new photo forms to make up 4 photos
                    // Replace '__name__' in the prototype's HTML to
                    // instead be a number based on how many items we have
                    var newForm = prototype.replace(/__name__/g, 'new_' + index);

                    // Display the form in the page in an li, before the "Add a photo" link li
                    var $newFormLi = $('<li></li>').append(newForm);
                    $collectionHolder.append($newFormLi);
                }
            });
        });
    </script>
    {% endjavascripts %}
{% endblock %}
