{% extends 'RFSAppBundle::base.html.twig' %}

{% block content %}
    <section class="container">
        <h2>Property list</h2>
        <table class="table table-striped records_list">
            <thead>
            <tr>
                <th>Serial</th>
                <th>Photo</th>
                <th>Address</th>
                <th>Type</th>
                <th>Price <i>
                        <small>£</small>
                    </i></th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for accommodation in entities %}
                {% set price = accommodation.price~(accommodation.pricePlan == 1 ? ' / week' : (accommodation.pricePlan == 2 ? ' / month' : ' / year')) %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        {% if accommodation.mainPhoto %}
                            <img src="{{ asset(accommodation.mainPhoto.webPath) }}"
                                 alt="accommodation photo" width="100">
                        {% else %}
                            <img src="http://placehold.it/100x75&text=UAEDXB" alt=""/>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('accommodation_show', { 'id': accommodation.id }) }}">{{ accommodation.fullAddress[0:25] }}
                            &nbsp;...</a>
                    </td>
                    <td>{{ accommodation.accommodationType.name }}</td>
                    <td>{{ price }}</td>
                    <td>
                        {#Implement user actions#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="center">
            {{ knp_pagination_render(entities) }}
        </div>
    </section>
{% endblock %}