{% extends 'RFSAppBundle::base.html.twig' %}

{% block content %}
    <h1 class="center">Create accommodation</h1>
    <span class="record_actions">
                    <a class="btn" href="{{ path('accommodation') }}"><i class="fa fa-list-ul"></i>&nbsp;Back to
                        list</a>
            </span>

    <div class="box col-sm-8 col-sm-offset-2">
        {% if form is defined %}
            {{ form_start(form, {'attr': {'id': 'accommodation-form'}}) }}
            <div class="text-danger text-center"><h5 class="center">{{ form_errors(form) }}</h5>
            </div>
            <div class="form-group">{{ form_row(form.fullAddress, {'attr':{'class':'form-control', 'placeholder':'Enter address'}}) }}</div>
            <div class="form-group">
                <div class="form-control" id="map" style="height: 250px"></div>
            </div>
            <div class="form-group">{{ form_row(form.description, {'attr':{'class':'form-control'}}) }}</div>
            <div class="form-group col-md-6">{{ form_row(form.accommodationType, {'attr':{'class':'form-control'}}) }}</div>
            <div class="form-group col-md-6">{{ form_row(form.pricePlan, {'attr':{'class':'form-control'}}) }}</div>
            <div class="form-group col-md-6">{{ form_row(form.price, {'attr':{'class':'form-control'}}) }}</div>
            <div class="form-group col-md-6">{{ form_row(form.contractLength, {'attr':{'class':'form-control'}}) }}</div>
            <div class="form-group col-md-6">{{ form_row(form.bedrooms, {'attr':{'class':'form-control'}}) }}</div>
            <div class="form-group col-md-6">{{ form_row(form.isEnSuite, {'attr':{'class':'form-control'}}) }}</div>
            <div class="form-group col-md-6">{{ form_row(form.publishStartDate, {'attr':{'class':'form-control', 'value':'now'|date('Y-m-d'), 'min':'now'|date('Y-m-d')}}) }}</div>
            <div class="form-group col-md-6">{{ form_row(form.publishEndDate, {'attr':{'class':'form-control', 'value':'now'|date('Y-m-d'), 'min':'now'|date('Y-m-d')}}) }}</div>
            <div class="form-group col-md-6">{{ form_row(form.mainPhoto, {'attr':{'class':'form-control', 'placeholder':'Select main photo'}}) }}</div>
            <div class="form-group col-md-6">
                <div><label>More info</label></div>

                <a class="btn btn-sm" data-toggle="modal" data-target="#featuresModal">
                    <i class="fa fa-arrows-alt"></i> Features
                </a>

                <a class="btn btn-sm" data-toggle="modal" data-target="#photosModal">
                    <i class="fa fa-arrows-alt"></i> More photos
                </a>

                <div class="modal fade" id="featuresModal" tabindex="-1" role="dialog"
                     aria-labelledby="featuresModalLabel"
                     aria-hidden="true" style="margin-top: 90px">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="featuresModalLabel">Features
                                    <a class="close btn pull-right"
                                       data-dismiss="modal"
                                       aria-label="Close">
                                        <i class="fa fa-times" aria-hidden="true"></i></a></h4>
                            </div>
                            <div class="modal-body">
                                <ul class="features"
                                    data-prototype="{{ form_widget(form.features.vars.prototype)|e }}">
                                    {# iterate over each existing feature and render its name and length #}
                                    {% for feature in form.features %}
                                        <li>{{ form_row(feature.featureType) }}</li>
                                        <hr>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <span class="error">{{ form_errors(form.features) }}</span>
                                <button id="add-feature-link" class="btn btn-sm"><i class="fa fa-plus"></i> Add</button>
                                <button type="button" class="btn btn-sm" data-dismiss="modal">Done
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="photosModal" tabindex="-1" role="dialog"
                     aria-labelledby="photosModalLabel"
                     aria-hidden="true" style="margin-top: 90px">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="photosModalLabel">More photos
                                    <a class="close btn pull-right"
                                       data-dismiss="modal"
                                       aria-label="Close">
                                        <i class="fa fa-times" aria-hidden="true"></i></a></h4>
                            </div>
                            <div class="modal-body">
                                <ul class="photos"
                                    data-prototype="{{ form_widget(form.photos.vars.prototype)|e }}">
                                    {# iterate over each existing feature and render its name and length #}
                                    {% for photo in form.photos %}
                                        <li>{{ form_errors(photo) }}
                                            {{ form_widget(photo) }}</li>
                                        <hr>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <span class="error">{{ form_errors(form.photos) }}</span>
                                <button id="add-photo-link" class="btn btn-sm"><i class="fa fa-plus"></i> Add</button>
                                <button type="button" class="btn btn-sm" data-dismiss="modal">Done
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-md-6">{{ form_row(form.isVisible, {'attr' :{'class' : 'form-control'}}) }}</div>
            <div class="form-group col-md-6">{{ form_row(form.publishStartDate, {'attr' :{'class' : 'form-control'}}) }}</div>
            <div class="form-group col-md-6">{{ form_row(form.publishEndDate, {'attr' :{'class' : 'form-control'}}) }}</div>
            <div class="form-group col-md-12">{{ form_row(form.submit, {'attr' :{'class' : 'btn btn-primary btn-block'}}) }}</div>
            {{ form_end(form) }}
        {% endif %}
    </div>
{% endblock %}
{% block page_scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    {% javascripts
    '@RFSAppBundle/Resources/public/js/accommodation.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}