<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>RFS</title>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>

    <link rel="import" href="/bower_components/basic-arrow-direction/basic-arrow-direction.html">
    <link rel="import" href="/bower_components/basic-page-dots/basic-page-dots.html">
    <link rel="import" href="/bower_components/basic-carousel/basic-carousel.html">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" type="text/css" href="{{ asset('/stylesheets/styles.css') }}"/>
</head>
<body>

<meta property="og:title" content="{{ accommodation.fullAddress }}"/>
<meta property="og:description" content="{{ accommodation.description }}"/>
<meta property="og:url" content="http://www.roomforstudents.co.uk/accommodation/{{ accommodation.id }}"/>
<meta property="og:type" content="product"/>

{% if accommodation.mainPhoto.id is defined %}
    <meta property="og:image"
          content="http://www.roomforstudents.co.uk/property/image/{{ accommodation.mainPhoto.id }}/400/400"/>
{% endif %}

<!-- facebook share button logic -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<section class="container-fluid" style="text-align: center;">
    {% set price = accommodation.price~(accommodation.pricePlan == 1 ? ' / week' : (accommodation.pricePlan == 2 ? ' / month' : ' / year')) %}
    <div style="padding-top: 10px;">
        <button title="Click to close to accommodation" onclick="top.closeAccommodation();" class="btn btn-primary btn-xs pull-right">X</button>
    </div>

    <div class="clearfix"></div>

    <h1>{{ accommodation.fullAddress }}</h1>

    <div>
        <strong>Price:</strong>
        <span><i><small>£</small></i> {{ price }}</span>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <strong>Beds:</strong>
        <span>{{ accommodation.bedrooms }}</span>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <strong>Bathroom:</strong>
        <span>{{ accommodation.isEnsuite ? 'En suite' : 'Shared' }}</span>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <strong>Type:</strong>
        <span>{{ accommodation.accommodationType.name }}</span>
    </div>

    <basic-arrow-direction target="child" class="overlay" aria-label="Photos" role="photos">
        <basic-page-dots target="child">
            <basic-carousel style="width: 600px; height: 400px;">
                {% if not accommodation.photos is null %}
                    {% for photo in accommodation.photos %}
                        {% set src = photo.webPath %}
                        <img src="{{ asset(src) }}" id="{{ photo.id }}" role="image" alt="photo-{{ photo.id }}">
                    {% endfor %}
                {% else %}
                    <img src="http://placehold.it/1200x800&text=UAEDXB">
                {% endif %}
            </basic-carousel>
        </basic-page-dots>
    </basic-arrow-direction>
    <p>{{ accommodation.description }}</p>

    <hr>

    <ul class="list-inline">
        <li>
            <button class="btn btn-primary" id="favourite_property" onclick="toggleAccommodationFavourite()">Favourite<i class='fa fa-square-o'></i></button>
        </li>
        <li>
            <button class="btn btn-primary" id="popup_contact_landlord">Contact Landlord</button>
        </li>
    </ul>
    {% if userFavourites is defined %}
        <table>
            {% for key, userFavourite in userFavourites %}
                <tr>
                    <td>{{ userFavourite.user.firstname }} {{ userFavourite.user.lastname }} <a
                                href="/show/profile/{{ userFavourite.user.username }}">
                            <button>profile</button>
                        </a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <hr>

    <ul class="list-inline">
        <li>
            <div class="fb-share-button btn" data-href="http://www.roomforstudents.co.uk/accommodation/{{ accommodation.id }}" data-layout="button"></div>
        </li>
        <li>
            <a href="https://twitter.com/share" class="twitter-share-button"
               data-text="I found a property for next year!" data-count="none">Tweet</a>
            <script>!function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + '://platform.twitter.com/widgets.js';
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, 'script', 'twitter-wjs');</script>
        </li>
        <li>
            <button class="btn btn-primary btn-xs" id="share_friends_users">RFS</button>
        </li>
        <li>
            <button class="btn btn-primary btn-xs" id="share_friends_email">Email</button>
        </li>
    </ul>

    {% include 'RFSAppBundle::Accommodation/widget/features.html.twig' %}
</section>

<script type="text/javascript">
    document.getElementById("share_friends_email").onclick = function () {
        window.open("/share/email/{{ accommodation.id }}", "", "width=800, height=370, top=200, left=200");
    }
    document.getElementById("share_friends_users").onclick = function () {
        window.open("/share/user/{{ accommodation.id }}", "", "width=800, height=370, top=200, left=200");
    }
</script>

<script type="text/javascript" src="{{ asset('/bower_components/jquery/dist/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('/js/app.js') }}"></script>

<script type="text/javascript">

    function toggleAccommodationFavourite() {
        var xmlhttp;
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                if (xmlhttp.responseText == "t")   //the favourite record was created
                {
                    document.getElementById("favourite_property").innerHTML = "Favourite<i class='fa fa-check-square-o'></i>"
                }
                else  //the favourite record was removed
                {
                    document.getElementById("favourite_property").innerHTML = "Favourite<i class='fa fa-square-o'></i>"
                }
            }
        }
        xmlhttp.open("GET", "/accommodation/favourite/{{ accommodation.id }}", true);
        xmlhttp.send();
    }

    function readAccommodationFavourite() {
        var xmlhttp;
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                if (xmlhttp.responseText == "t")   //the favourite record exists
                {
                    document.getElementById("favourite_property").innerHTML = "Favourite<i class='fa fa-check-square-o'></i>"
                }
                else  //the favourite record does not exist
                {
                    document.getElementById("favourite_property").innerHTML = "Favourite<i class='fa fa-square-o'></i>"
                }
            }
        }
        xmlhttp.open("GET", "/accommodation/favourite/{{ accommodation.id }}/readonly", true);
        xmlhttp.send();
    }

    document.getElementById("share_friends_email").onclick = function () {
        window.open("/share/email/{{ accommodation.id }}", "", "width=800, height=370, top=200, left=200");
    }
    document.getElementById("share_friends_users").onclick = function () {
        window.open("/share/user/{{ accommodation.id }}", "", "width=800, height=370, top=200, left=200");
    }
    document.getElementById("popup_contact_landlord").onclick = function () {
        window.open("/landlord/contact/{{ accommodation.id }}", "", "width=800 height=370, top=200, left=200");
    }


    var google = top.google;

    var latitude = '{{ accommodation.latitude }}';
    var longitude = '{{ accommodation.longitude }}';

    var universityLatLng = new google.maps.LatLng(52.621132, -1.1246399999999994)
    var accommodationLatLng = new google.maps.LatLng(latitude, longitude);

    function calcRoute(start_, end_) {
        var start = start_;
        var end = end_;

        return function () {
            var directionsDisplay;
            var directionsService = new google.maps.DirectionsService();
            directionsDisplay = new google.maps.DirectionsRenderer();
            directionsDisplay.setMap(top.mapGLOBAL);

            var request = {
                origin: start,
                destination: end,
                travelMode: google.maps.TravelMode.WALKING
            };

            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                }
            });
        }
    }

    $(document).ready(function () {
        readAccommodationFavourite();
        google.maps.event.addDomListener(window, 'load', calcRoute(accommodationLatLng, universityLatLng));
    });

</script>

</body>
</html>