body {
    overflow: hidden;
    background-color: #7AC6EF;
    background-image: url('/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body, .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: white !important;
}