body {
    min-width: 1200px;
    overflow-y: hidden;
}

#filter-container {
    border: none;
    padding: 0px 0px 10px;
}

#filter-form {
    margin: auto;
}

#filter-form > div.form-group {
    padding: 0px 5px;
}

#filter-form > div.form-group > select{
    height: 28px;
    padding: 0px;
}

.map, .side {
    height: 660px;
    min-height: 660px;
    border: 1px ridge;
    float: left;
    display: inline;
    position: relative;
}

.map {
    width: 40%;
    overflow-y: hidden;
}

.side {
    width: 60%;
    padding-left: 10px;
    overflow-y: scroll;
}

.accommodation-panel {
    padding: 0px 5px;
    width: 270px;
    margin: 10px 5px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.05);
}

.accommodation-panel:hover {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.55);
}