{% extends 'RFSAppBundle::base.html.twig' %}

{% block page_styles %}
    <link rel="stylesheet" href="/bundles/rfsapp/css/index.css"/>
{% endblock %}

{% block content %}
    <section class="container index">
        {% if form is defined %}
        <div class="col-md-6 col-md-offset-3 box transparent-bg">
            <h1>Find student accommodation</h1>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_widget(form.uni, {'attr': {'novalidate': 'novalidate'}}) }}
            </div>
            <div class="form-group pull-right">
                {{ form_widget(form.search) }}
            </div>
            {{ form_end(form) }}
            {% endif %}
        </div>
    </section>
{% endblock %}
