{% extends 'RFSAppBundle::base.html.twig' %}

{% block page_styles %}
    <link rel="stylesheet" href="/libraries/jquery-ui-1.11.4/jquery-ui.css">
    <link rel="stylesheet" href="/bundles/rfsapp/css/search.css"/>
	<script type="text/javascript">
		var initializeAccommodationPage = function (iframeObject) {
			// do nothing if iframe has no src attribute
			if(iframeObject.src === "") return;
			iframeObject.style.height = iframeObject.contentWindow.document.body.scrollHeight + 10 + 'px';
			iframeObject.style.display = "initial";
			document.getElementById('loading').style.display = "none";
		}
	</script>
{% endblock %}

{% block content %}
    <section id="filter-container" class="container-fluid">
        <form name="filter_form" id="filter-form" class="form-inline center">
            <div class="form-group">
                <label for="price_plan">Price plan</label>
                <select class="form-control" id="price_plan" name="price_plan">
                    <option value="Any">Any</option>
                    <option value="1">Weekly</option>
                    <option value="2">Monthly</option>
                    <option value="3">Yearly</option>
                </select>
            </div>
            <div class="form-group">
                <label for="contract_length">Contract length</label>
                <select class="form-control" id="contract_length" name="contract_length">
                    <option value="Any">Any</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">Price (£50 increments):&nbsp;<span id="price"></span></label>
                <div id="price-slider"></div>
            </div>
            <div class="form-group">
                <label for="accommodation_type">Accommodation type</label>
                <select id="accommodation_type" name="accommodation_type" class="form-control">
                    <option value="Any">Any</option>
                    <option value="Room">Room</option>
                    <option value="House">House</option>
                    <option value="Studio">Studio</option>
                    <option value="Flat">Flat</option>
                </select>
            </div>
            <div class="form-group">
                <label for="is_en_suite">Bathroom</label>
                <select id="is_en_suite" name="is_en_suite" class="form-control">
                    <option value="Any">Any</option>
                    <option value="true">En suite</option>
                    <option value="false">Shared</option>
                </select>
            </div>
            <div class="form-group">
                <label for="bedrooms">Bedrooms</label>
                <select id="bedrooms" name="bedrooms" class="form-control">
                    <option value="Any">Any</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </div>
            <div class="form-group">
                <button type="button" id="clear-filter" class="btn btn-sm btn-primary pull-right form-group">Clear
                </button>
                <span class="pull-right">&nbsp;&nbsp;</span>
                <button type="button" id="apply-filter" class="btn btn-sm btn-primary pull-right form-group">filter
                </button>
            </div>
        </form>
    </section>
    <section id="map" class="map"></section>
    <section class="side transparent-bg">
		<div id="accommodation-panels"></div>
		<iframe id="accommodation-page" onload="initializeAccommodationPage(this);" style="width: 100%;border: none;display:none;"></iframe>
		<div id="loading" class="loader">Loading...</div>
	</section>

{% endblock %}
{% block page_scripts %}
    <script src="/libraries/jquery-ui-1.11.4/jquery-ui.js"></script>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true&libraries=places"></script>
    <script type="text/javascript" src="{{ asset('/js/underscore.js') }}"></script>
    <script type="text/template" id="accommodation-panel-template">
        <article id="accommodation-panel-<%- id %>" class="accommodation-panel panel col-sm-4 col-md-3">
            <div class="panel-body">
                <img width="100%" src="<% print(getPhotoWebPath(main_photo.id))%>" class="img-responsive">
                <hr style="margin: 5px -10px;">

                <div><strong>Price: </strong>£<%- price %>/<% print(getPricePlan(price_plan)) %></div>
                <div><strong>Contract length: </strong>
                    <%- contract_length %> <% print(getPricePlan(price_plan)) %><% print(contract_length == 1 ? '' :
                    's') %>
                </div>
                <div><i class="fa fa-bed"></i>&nbsp;<%- bedrooms %></div>
                <div><strong>Bathroom: </strong><% is_en_suite ? print("En suite"): print("Shared") %></div>
                <div><i class="fa fa-home"></i>&nbsp;<%- accommodation_type.name %></div>

                <div class="clearfix">
                    <div class="pull-left"><i class="fa fa-user"></i>&nbsp;<%- user.username %></div>
                    <div class="pull-right"><button onclick='openAccommodation("/accommodation/<%- id %>");' class="btn btn-primary btn-xs pull-right">View</button></div>
                </div>
            </div>
        </article>
    </script>
    <script type="text/javascript">
        var accommodations = {{ accommodations|raw }};
        var uniLat = {{ university.latitude }};
        var uniLon = {{ university.longitude }};
        var uniLatLng = new google.maps.LatLng(uniLat, uniLon);
    </script>
    {% javascripts
    '@RFSAppBundle/Resources/public/js/gmap3.infobox.js'
    '@RFSAppBundle/Resources/public/js/gmap3.clusterer.js'
    '@RFSAppBundle/Resources/public/js/gmap3.style.js'
    '@RFSAppBundle/Resources/public/js/map.js'
    '@RFSAppBundle/Resources/public/js/search.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}