<section class="col-md-offset-4 col-md-4 box">
    <h2>{{ 'title_user_registration'|trans({}, 'SonataUserBundle') }}</h2>

    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
          class="fos_user_registration_register form-horizontal">
        <div class="form-group">
            <label
                    class="col-lg-3 col-sm-3 control-label">{{ form_label(form.username) }}</label>

            <div class="col-lg-9 col-sm-9">{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}</div>
        </div>
        <div class="form-group">
            <label
                    class="col-lg-3 col-sm-3 control-label">{{ form_label(form.email) }}</label>

            <div class="col-lg-9 col-sm-9">{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}</div>
        </div>
        <div class="form-group">
            <label
                    class="col-lg-3 col-sm-3 control-label">{{ form_label(form.plainPassword.first) }}</label>

            <div class="col-lg-9 col-sm-9">{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}</div>
        </div>
        <div class="form-group">
            <label
                    class="col-lg-3 col-sm-3 control-label">{{ form_label(form.plainPassword.second) }}</label>

            <div class="col-lg-9 col-sm-9">{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}</div>
        </div>
        <div class="form-actions">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"
                       class="btn btn-primary"/>
            </div>
        </div>
    </form>
</section>