.marker {
    background-color: #fff;
    border: 3px solid $color-primary;
    @include border-radius(50%);
    height: 48px;
    line-height: 48px;
    position: relative;
    text-align: center;
    width: 48px;

    &:after {
        bottom: -13px;
        border: 4px solid transparent;
        border-top-color: $color-primary;
        border-top-width: 6px;
        content: '';
        display: block;
        height: 0px;
        left: 50%;
        margin-left: -4px;
        position: absolute;
        width: 0px;
    }
}

.marker-inner {
    @include border-radius(50%);
    height: 42px;
    line-height: 40px;
    width: 42px;

    img {
        width: 26px;
        @include opacity(.7);
    }
}

.infobox {
    background-color: $color-primary;
    @include box-shadow(0px 2px 2px 0px rgba(0, 0, 0, .2));
    height: 191px;
    padding: 0px;
    position: relative;
    width: 200px;

    &:after {
        border: 6px solid transparent;
        border-top-color: $color-primary;
        bottom: -12px;
        content: '';
        display: block;
        height: 0px;
        left: 50%;
        margin-left: -6px;
        position: absolute;
        width: 0px;
    }
}

.infobox-header {
    background-color: $color-primary;
    color: $color-black;
    padding: 8px 15px;
}

.infobox-picture {
    @extend .helper-image-hover;
    height: 140px;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;

    a {
        height: 140px;
    }

    img {
        width: 100%;
    }
}

h3.infobox-title, h3.infobox-title a {
    color: $color-black;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 5px 0px !important;
    padding: 0px;
}

h4.infobox-subtitle, h4.infobox-subtitle a {
    color: $color-black;
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
}

.infobox-price {
    background-color: rgba(255, 255, 255, .85);
    bottom: 0px;
    color: $color-black;
    font-size: 12px;
    font-weight: bold;
    left: 0px;
    line-height: 23px;
    padding: 4px 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    z-index: 2;
}

.clusterer {
    background-color: #fff;
    border: 2px solid $color-primary;
    @include border-radius(50%);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 48px;
    position: relative;
    text-align: center;
    width: 48px;
}

.clusterer-inner {
    background-color: $color-primary;
    @include border-radius(50%);
    height: 40px;
    line-height: 38px;
    margin: 2px;
    width: 40px;
}