.btn {
    -webkit-appearance: none;
    @include border-radius(5px);
    color: $color-black;
    outline: 0px !important;
	@include transition(all .2s linear);
}

.btn-primary {
	background-color: $color-primary;
    background: -webkit-gradient(linear, left top, left bottom, from($color-primary), to(darken($color-primary, 10%)));
    background: -webkit-linear-gradient(top, $color-primary, darken($color-primary, 10%));
    background: -moz-linear-gradient(top, $color-primary, darken($color-primary, 10%));
    background: -ms-linear-gradient(top, $color-primary, darken($color-primary, 10%));
    background: -o-linear-gradient(top, $color-primary, darken($color-primary, 10%));
    border-color: darken($color-primary, 20%); 
    

	&:active, &:focus {
		background-color: darken($color-primary, 10%);
        border-color: darken($color-primary, 20%);
        color: $color-black;
		@include box-shadow(none);
	}

	&:hover {
		background-color: darken($color-primary, 10%);
        border-color: darken($color-primary, 20%);
        color: $color-black;

        i {
            color: $color-black;
        }
	}

    i {
        background-color: transparent;
        color: $color-black;
        display: block;
        float: left;
        height: 36px;
        line-height: 20px;
        margin: -8px 12px -8px -12px;
        padding: 8px 0px 8px 12px;
        @include transition(background-color .2s linear);
    }
}