/***************************************
 * Base Colors
 ***************************************/
$color-primary: #7AC6EF;
$color-black: #252525;
$color-black-transparent: rgba(37, 37, 37, .9);
$color-gray: #CECECE;

/***************************************
 * Variants
 ***************************************/
$color-red: #cd2122;
$color-blue: #19A0D8;
$color-cyan: #0AA699;
$color-green: #39b54a;
$color-purple: #8e5c90;
$color-orange: #F3C409;
$color-pink: #bf224e;
$color-brown: #846447;