.color-primary {
    color: $color-primary !important;
}

.color-white {
    color: #fff !important;
}

.align-right {
    text-align: right;
}

.box {
    margin-bottom: 30px;
    padding: 20px;
}

.transparent-bg {
    background-color: rgba(0, 0, 0, .07);
	border-color: transparent;
}

.separator {
	padding-left: 15px;
	padding-right: 15px;
}

.caps {
    text-transform: uppercase;
}

.vertical-align {
	position: relative;
	@include transform(translateY(-50%));
	top: 50%;
}

.center {
	text-align: center !important;
}

.no-margin {
	margin: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

.background-primary {
	background-color: $color-primary;

    a {
        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }
}

p.block-slogan {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
}

.helper-image-hover {
    background-color: #fff;

    img {
        position: relative;
        @include opacity(1);
        @include transition(all .7s ease-out);
    }

    a {
        display: block;
        overflow: hidden;
        position: relative;
        text-decoration: none;

        &:after {
            color: #fff;
            content: '\f002';
            display: block;
            font-family: 'FontAwesome';
            font-size: 30px;
            left: 50%;
            margin-left: -15px;
            margin-top: -15px;
            position: absolute;
            top: 50%;
            @include opacity(0);
            @include transform(scale(3, 3));
            @include transition(all .7s ease-out);
        }
    }

    &:hover {
        img {
            @include opacity(.8);
            @include transform(scale(1.15, 1.15));
            @include transition(all .7s ease-in);
        }

        a {
            &:after {
                @include opacity(1);
                @include transform(scale(1));
                @include transition(all .7s ease-in);
            }
            text-decoration: none;
        }
    }
}