html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	color: $color-black;
	font-family: 'Raleway', 'Arial', sans-serif;
	font-size: 12px;
	height: 100%;
	line-height: 22px;
	min-height: 100%;
}

h2 {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 45px;
	margin-top: 0px;
	position: relative;
}

address {
	line-height: 22px;

	a {
		text-decoration: underline;
	}
}

a {
    color: darken($color-primary, 30%);
    text-decoration: none;
    @include transition(color .2s linear);

    &:hover {
        color: darken($color-primary, 30%);
        text-decoration: underline;
    }
}

abbr, abbr[title], abbr[data-original-title] {
	border-bottom: 0px !important;
	text-decoration: none;
}

ol {
    li {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}