#header {
	border-top: 2px solid $color-primary;
    z-index: 99999;
    .navbar-header > a.navbar-brand, #navbar > ul.nav.navbar-nav > li a {
        font-weight: bolder;
        &:active, &:focus {
            color: darken($color-primary, 20%) !important;
        }
        
        &:hover {
            color: darken($color-primary, 20%) !important;
        }
    }
}