{% if property.features is defined and property.features|length %}
    <h2>Amenities</h2>
    <div class="row">
        <ul class="">
            {% for feature in accommodation.features %}
                <li class="col-xs-6 col-sm-4"><i class="fa fa-check ok"></i>{{ feature.featureType.name }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}