<div class="flexslider">
    <ul class="slides">
        {% if not accommodation.photos is null %}
            {% for photo in accommodation.photos %}
                {% set src = photo.webPath %}
                <li data-thumb="{{ asset(src) }}">
                    <img src="{{ asset(src) }}" alt="">
                </li>
            {% endfor %}
        {% else %}
            <li data-thumb="http://placehold.it/300x200&text=UAEDXB">
                <img src="http://placehold.it/1200x800&text=UAEDXB" alt=""/>
            </li>
        {% endif %}
    </ul>
</div>