{% if recentAccommodation is defined %}
    <div class="widget">
        <h3 class="widget-title">Recent Accommodations</h3>

        <div class="">
            {% for accommodation in recentAccommodations %}
                {% include "RFSAppBundle::Accommodation/accommodation-box-small.html.twig" %}
            {% endfor %}
        </div>
    </div>
{% endif %}