{% embed 'RFSAppBundle::base.html.twig'%}
{% block header %}

{% endblock %}
{% block content %}
<div class="property-popup container-fluid">
<div class="row">
<div class="col-md-12">
<h3 class="property-title"><strong>{{ property.fullAddress }}</strong>
    <span class="property-price">£ {{ property.price }} / {% if property.pricePlan == 0 %} week {% else %} month {% endif %}</span>
</h3>
</div>
</div>
<div class="row">
<div class="form_box">
    <div class="col-md-1">
    <form action="/share/users/execute" method="post" id="sending_form">
        <h5><strong>Add friends to group</strong></h5>
        <div id="friends_selector" class="left_box">
            <strong>Friends:</strong>
            <ul id="friend_list">
                {% for key, linkedUser in linkedUsersOne %}
                    <li><input name="friend_list_a{{ key }}" type="checkbox"/> <strong>{{ linkedUser.userTwo.firstname }} {{ linkedUser.userTwo.lastname }}</strong> ({{ linkedUser.userTwo.username }})</li>
                {% endfor %}
                {% for key, linkedUser in linkedUsersTwo %}
                    <li><input name="friend_list_b{{ key }}" type="checkbox"/> <strong>{{ linkedUser.userOne.firstname }} {{ linkedUser.userOne.lastname }}</strong> ({{ linkedUser.userOne.username }})</li>
                {% endfor %}
            </ul>
            <a href="/share/find/friends/0"><input type="button" class="btn btn-primary btn-inversed btn-small" id="find_friends_button" value="Find Friends"/></a>
        </div>
      </div>
      <div class="col-md-2">
        <div id="share_property_form" class="right_box">

            <div class="form-group">
                <label>Message:</label>
                <textarea rows="3" class="form-control" name="form_message"></textarea>
            </div>
            <div class="form-group">
                <input type="hidden" name="property_id" value="{{ property.id }}" />
                <input id="submit_button" type="submit" class="btn btn-primary btn-inversed btn-small" value="Send Enquiry"/>
                <input id="cancel_button" type="button" onclick="window.close()" class="btn btn-primary btn-small" value="cancel"/>
            </div>

        </div>
    </form>
  </div>
  </div>
</div>
</div>
{% endblock %}
{% endembed %}
