{% embed 'RFSAppBundle::base.html.twig'%}
  {% block header %}
    
  {% endblock %}
  {% block content %}
      <h3 class="property-title"><strong>{{ property.fullAddress }}</strong>
        <span class="property-price">£ {{ property.price }} / {% if property.pricePlan == 0 %} week {% else %} month {% endif %}</span>
      </h3>
      <div class="box" id="share_property_form">
          <h5><strong>Share with friends via email</strong></h5>
          <form action="{{ path("share_send_email", { "id" : property.id })  }}" method="post">
              <div class="form-group">
                  <label>To (seperate with commas):</label>
                  <input type="text" name="form_to_addresses" class="form-control" required="required"/>
              </div>
              <div class="form-group">
                  <label>Message:</label>
                  <textarea rows="5" class="form-control" name="form_message"></textarea>
              </div>
              <div class="form-group">
                  <input type="hidden" name="property_id" value="{{ property.id }}" />
                  <input id="submit_button" type="submit" class="btn btn-primary btn-inversed btn-small" value="share"/>
                  <input id="cancel_button" type="button" onclick="window.close()" class="btn btn-primary btn-small" value="cancel"/>
              </div>
          </form>
      </div>
  {% endblock %}
{% endembed %}