{% embed 'RFSAppBundle::base.html.twig'%}
  {% block header %}
    
  {% endblock %}
  {% block content %}
        <div class="box">
            <form action="/share/find/friends/{{ landlordContact }}" method="post">
                <div class="form-group">
                    <label>Enter friends email</label>
                    <input class="form-control" type="text" name="email_search" id="search_field"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="search" class="btn btn-primary btn-inversed btn-small"/>
                </div>
            </form>
            {% if landlordContact is defined %}
                {% if landlordContact == 1 %}
                    <a href="/property/enquiry/group/popup/{{ propertyId }}"><button class="btn btn-primary btn-inversed btn-small">back to enquiry</button></a>
                {% else %}
                    <a href="/share/user/{{ propertyId }}"><button class="btn btn-primary btn-inversed btn-small">back to share</button></a>
                {% endif %}
            {% else %}
                <a href="/share/user/{{ propertyId }}"><button class="btn btn-primary btn-inversed btn-small">back to share</button></a>
            {% endif %}
        </div>
        {% if found is defined %}
            <div id="results">
                {% if found %}
                    <form action="/share/friends/link/{{ landlordContact }}" method="post">
                        <p>
                            <strong>{{ friendUser.firstname }} {{ friendUser.lastname }}</strong>
                            ({{ friendUser.username }})
                            <input type="hidden" name="friend_email" value="{{ friendUser.username }}"/>
                            <input type="submit" value="add"/>
                        </p>
                    </form>
                {% else %}
                    no results where found
                {% endif %}
            </div>
        {% endif %}
        {% if message is defined %}
            <div id="info_message">
                {{ message }}
            </div>
        {% endif %}
  {% endblock %}
{% endembed %}