{% extends 'RFSAppBundle::base.html.twig' %}

{% block content %}
  <table>
    <tr>
      <th>has been read</th>
      <th>User</th>
      <th>Message</th>
      <th>link</th>
    </tr>
    {% for share in shares %}
      <tr>
        <td>{% if share.hasSeen == false %}@{% else %} {% endif %}</td>
        <td>{{ share.share.user.firstname }} {{ share.share.user.lastname }} shared a property with you</td>
        <td>{{ share.share.message }}</td>
        <td><a href="view-accommodation/{{ share.id }}">View</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
